<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit- users</title>
</head>
<body>
    <div>
        <a href="/users">pages users </a>
    </div>
    <form action="/users/<%=id%>?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">

        <input type="text" name="name" value="<%=name%>" placeholder="<%=name%>" d>
        <button type="submit"> Modifier un user</button>
    </form>
</body>
</html>